# dependencies
node_modules
.pnpm-store

# builds
dist
.next
out
build
.turbo

# env
.env
.env.local
.env.*.local
*.env.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.idea
.vscode
.DS_Store
Thumbs.db

# prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# test / coverage
coverage
.nyc_output

# typescript
*.tsbuildinfo
next-env.d.ts
